body {
  margin: 0;
  padding: 0;
  
}


.heading-container {
  
  /*position: relative;*/
  width: 100%;
  height: 100%;

  padding-inline: 90px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /*top: 35px;*/
}

.div-list {
  width: 33%;
  margin-inline: 130px;
}

.list-items {
  display: flex;
  justify-content: space-between;
}

.list-items > li {
  list-style: none;
}

.search_input {
  width: 25;
  padding: 5px;
  height: 25px;

  margin-right: 25px;

  background-color: white;
  border-radius: 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  outline: none;
  border: 0;
}

.heading-container > button {
  padding: 13px 29px;
  color: white;
  border: none;
  border-radius: 10px;
  background-color: rgb(255, 64, 0);
}
